<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bynk.dao.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.bynk.pojo.Teacher" >
    <id column="t_id" property="tId" jdbcType="INTEGER" />
    <result column="t_name" property="tName" jdbcType="VARCHAR" />
    <result column="t_sex" property="tSex" jdbcType="VARCHAR" />
    <result column="t_birth" property="tBirth" jdbcType="VARCHAR" />
    <result column="t_tel" property="tTel" jdbcType="VARCHAR" />
    <result column="t_major" property="tMajor" jdbcType="VARCHAR" />
    <result column="entry_time" property="entryTime" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
  </resultMap>
   <sql id="Example_Where_Clause_Select">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      <if test="tId != null" >
	      and t_id = #{tId,jdbcType=INTEGER}
	    </if>
      <if test="tName != null" >
	      and t_name like '%${tName}%'
	    </if>
      <if test="tSex != null" >
	      and t_sex = #{tSex,jdbcType=VARCHAR}
	    </if>
      <if test="tBirth != null" >
	      and t_birth = #{tBirth,jdbcType=VARCHAR}
	    </if>
      <if test="tTel != null" >
	      and t_tel = #{tTel,jdbcType=VARCHAR}
	    </if>
      <if test="tMajor != null" >
	      and t_major like '%${tMajor}%'
	    </if>
      <if test="entryTime != null" >
	      and entry_time = #{entryTime,jdbcType=VARCHAR}
	    </if>
      <if test="creatTime != null" >
	      and creat_time = #{creatTime,jdbcType=VARCHAR}
	    </if>
      <if test="isDel != null" >
	      and is_del = #{isDel,jdbcType=INTEGER}
	    </if>
	  </trim>
    </where>
  </sql>
  
  <sql id="Base_Column_List" >
    t_id, t_name, t_sex, t_birth, t_tel, t_major, entry_time, creat_time, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_teacher
    where t_id = #{tId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from t_teacher
    <include refid="Example_Where_Clause_Select" />
    order by t_id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_teacher
    where t_id = #{tId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bynk.pojo.Teacher" >
    insert into t_teacher (t_id, t_name, t_sex, 
      t_birth, t_tel, t_major, 
      entry_time, creat_time, is_del
      )
    values (#{tId,jdbcType=INTEGER}, #{tName,jdbcType=VARCHAR}, #{tSex,jdbcType=VARCHAR}, 
      #{tBirth,jdbcType=VARCHAR}, #{tTel,jdbcType=VARCHAR}, #{tMajor,jdbcType=VARCHAR}, 
      #{entryTime,jdbcType=VARCHAR}, #{creatTime,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bynk.pojo.Teacher" >
    insert into t_teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="tName != null" >
        t_name,
      </if>
      <if test="tSex != null" >
        t_sex,
      </if>
      <if test="tBirth != null" >
        t_birth,
      </if>
      <if test="tTel != null" >
        t_tel,
      </if>
      <if test="tMajor != null" >
        t_major,
      </if>
      <if test="entryTime != null" >
        entry_time,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=INTEGER},
      </if>
      <if test="tName != null" >
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tSex != null" >
        #{tSex,jdbcType=VARCHAR},
      </if>
      <if test="tBirth != null" >
        #{tBirth,jdbcType=VARCHAR},
      </if>
      <if test="tTel != null" >
        #{tTel,jdbcType=VARCHAR},
      </if>
      <if test="tMajor != null" >
        #{tMajor,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null" >
        #{entryTime,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bynk.pojo.Teacher" >
    update t_teacher
    <set >
      <if test="tName != null" >
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tSex != null" >
        t_sex = #{tSex,jdbcType=VARCHAR},
      </if>
      <if test="tBirth != null" >
        t_birth = #{tBirth,jdbcType=VARCHAR},
      </if>
      <if test="tTel != null" >
        t_tel = #{tTel,jdbcType=VARCHAR},
      </if>
      <if test="tMajor != null" >
        t_major = #{tMajor,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null" >
        entry_time = #{entryTime,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bynk.pojo.Teacher" >
    update t_teacher
    set t_name = #{tName,jdbcType=VARCHAR},
      t_sex = #{tSex,jdbcType=VARCHAR},
      t_birth = #{tBirth,jdbcType=VARCHAR},
      t_tel = #{tTel,jdbcType=VARCHAR},
      t_major = #{tMajor,jdbcType=VARCHAR},
      entry_time = #{entryTime,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER}
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
</mapper>